body{
    margin: 0;
    padding: 0;       
}
i {
    display: inline-block;
}
.header {
    border-bottom: 1px solid #000000; 
}
.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;          
    height: 64px;
    margin: 0 auto;
}
.header-left {
    width: 354px;
    margin: 22px 0 22px 30px;
}
.header-left ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header-left li {    
    margin: 0;
}
.header-left a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 16px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.header-middle img {
    height: 62px;
    width: auto;          
}
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 13px 13px 0;
}
.header-search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #8F8F8F;
    border-radius: 25px;
    width: 171px;
    height: 37px;
    margin-right: 29px;
}
.header-search-box input {
    border: none;
    width: 100px;
    margin: 6.5px 0 6.5px 16px;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
} 
.header-search-box button {
    border: none;
    background-color: white;
    margin-right: 16px;
}
#navbar-item-detail {
    display: none;
}
.tbody-box-search {
    display: none;
}
.login-box button{
    width: 130px;
    height: 37px;   
    text-align: center; 
    background-color: #18A0FB;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;    
}
.login-box a{
    color: #FFFFFF;
    text-decoration: none;
}

/* after login */
.login-infor-user {
    display: flex;
}
.btn-secondary {
    background-color: white;
}
.login-infor-user img{
    width: 37px;
    height: 37px;
    filter: drop-shadow(0px 25px 80px rgba(2, 140, 213, 0.2));
    border-radius: 50%;
    margin: 0 12px 0 22px;
}
.login-infor-user-name p {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: #515252;
}
.login-infor-user-name h6{
    margin: 0;
    font-size: 8px;
    line-height: 14px;
    font-weight: 500;
    color: #11132A;    
}
.dropdown-menu a {
    color: black;
}
.tbody {
    display: flex;
    flex-direction: row;         
    margin: 0 auto; 
}

/* sitebar */
.tbody-sitebar {        
    height: 913px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.tbody-sitebar h4{
    margin-top: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.tbody-sitebar h4 a {
    color: black;
    text-decoration: none;
}
.tbody-sitebar ul {
    list-style-type: none;  
    margin-left:34px;
    padding: 0;  
}
.tbody-sitebar li {        
    height: 39px;    
}
.tbody-sitebar li a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;   
    line-height: 20px;  
    font-family: sans-serif;
}
.tbody-sitebar-responsive {
    display: none;
}
.tbody-sitebar-responsive ul li a{
    display: inline-block;
    margin: 0 6px;
}
.tbody-content {
    padding-right: 14px;
}
/* homepage */
.tbody-home {    
    height: 100%;   
    margin-bottom: 100px;  
}
.tbody-filter {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}
.tbody-filter-right {
    display: flex;
    flex-direction: row; 
}
.tbody-filter-right p {
    border-right: 1px solid #D5D6D6;
}
.tbody-dropdown {
    position: relative;
    display: inline-block;
}
.tbody-dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);    
    font-size: 14px;
    margin-left: 18px;
    border: none;
    cursor: pointer;
}
.tbody-dropdown-ct {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.tbody-dropdown-ct a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.tbody-dropdown-ct a:hover {
    background-color: #f1f1f1;
}
.tbody-dropdown:hover .tbody-dropdown-ct {
    display: block;
}
.tbody-documents {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0 24px 64px 32px;
    border-bottom: 1px solid #000000;
}
.tbody-doc-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 192px;
}
.tbody-doc-left p{   
    font-size: 18px;
}
.author-responsive {
    display: none;
    color: rgba(28, 46, 69, 0.6);    
    margin-bottom: 4px;
    font-size: 10px;
}
.tbody-doc-right-date-responsive {
    display: none;
}
.author {
    color: rgba(28, 46, 69, 0.6);
    margin-top: 28px;
    margin-bottom: 4px;
}
.tbody-doc-right {
    margin-right: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.tbody-doc-right-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: rgba(26, 41, 61, 0.83);
}
.tbody-doc-right button {
    width: 175px;
    margin: 5px auto;
}
.tbody-doc-right a {
    color: #6c757d;
    text-decoration: none;
}
.tbody-doc-right a:hover {
    color: #ffffff;
    text-decoration: none;
}
.view {
    margin-top: 14px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 22px;
}
.page-navigation {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 24px;
}

/* footer */
.footer-1 {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;    
    padding: 24px 80px 24px 40px;      
    border-bottom: 1px solid rgba(213, 214, 214, 1);  
    background-color: rgba(196, 196, 196, 0.28);  
}
.intro-gr3 p {
    font-size: 14px;
    line-height: 24px;
    width: 271px;
    height: 72px;
    color: #8F8F8F;
}
.footer-2 {        
    text-align: center;    
    color: white;
    background-color: #373F41;
    border: 1px solid #000000;
    padding-top: 12px;
}

/* login */
.login{
    display: flex;
}
.login-left{
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60%;
    height: 100vh;
}
.box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20%;
    height: 100%;
    color: #fff;
    font-family: sans-serif;
}
.login .login-left .box-left h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.login .login-left .box-left span{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
}
.login .login-left .box-left button{
    background-color: #3F87F5;
    color: #fff;
    width: 18%;
    font-size: 15px;
    font-weight: 100;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    opacity: 0.8;
}
.box-left a {
    color: #ffffff;
    text-decoration: none;
}
.login .login-right{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;    
    font-family: sans-serif;
    margin: auto auto;
}
.login .login-right .box-right .title-top{
    margin-bottom: 40px;
}
.login .login-right .box-right .title-top h1{
    margin-bottom: 10px;
}
.login .login-right .box-right .title-top span{
    font-weight: 300;
}
.box-account {
    margin-bottom: 15px;    
}
.box-account p {
    text-align: center;    
    color: red;
    font-size: 14px;
}
.box-top{    
    border: 1px solid grey;
    border-radius: 20px;
    padding-left: 20px;
    opacity: 0.5;
}
.login .login-right .box-right .box-title .box-top input{
    border: none;
    border-radius: 20px;
    font-weight: 200;
}
.login .login-right .box-right .box-title .box-top input:focus-visible{
    outline: none;
}
.box-password {
    margin-bottom: 15px;    
}
.box-password p {
    text-align: center;    
    color: red;
    font-size: 14px;
}
.box-bottom{    
    border: 1px solid grey;
    border-radius: 20px;
    padding-left: 20px;
    opacity: 0.5;
}
.login .login-right .box-right .box-title .box-bottom input{
    border: none;
    border-radius: 20px;
    font-weight: 200;
}
.login .login-right .box-right .box-title .box-bottom input:focus-visible{
    outline: none;
}
.login .login-right .box-right .box-title input{
    width: 260px;
    padding: 10px;
}
.login .login-right .box-right .title-bottom{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.7;
}
.login .login-right .box-right .title-bottom input{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.login .login-right .box-right .title-bottom span{
    margin-left: 50px;
}
.login .login-right .box-right button{
    width: 300px;
    padding: 15px 0;
    color: #fff;
    background-color: #3F87F5;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}
.box-right a {
    color: #ffffff;
    text-decoration: none;
}

/* detail documents */
.tbody-detail-docs {
    height: 100%;
    margin-bottom: 100px;
}
.tbody-detail {   
    text-align: center;      
    color: #8F8F8F;
}
.tbody-detail-ct {
    margin-right: 34px;
}
.infor-user {
    display: flex;
}
.infor-user img{
    width: 42px;
    height: 42px;
    filter: drop-shadow(0px 25px 80px rgba(2, 140, 213, 0.2));
    border-radius: 50%;
    margin: 0 14px 0 28px;
}
.infor-user-name p {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #515252;
}
.infor-user-name a {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #515252;
    text-decoration: none;
}
.infor-user-name h6{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #11132A;    
}
.detail-docs {    
    margin-left: 84px;
}
.docs-date-category {
    display: flex;    
}
.docs-date-category p {
    color: #8F8F8F;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-right: 16px;
}
.docs-content {
    border-bottom: 1px solid #000000;
}
.docs-content h3 {
    color: #000000;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.docs-content p {    
    color: #2a2a2a;
    font-weight: 300;    
    line-height: 24px;
}
.file-docs p{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #272833;;
    border: 1px solid #dbdbdd;
    border-radius: 4px;
    width: 234px;
    height: 53px;
    padding: 16px;
    margin-right: 18px;
}
.view-detail-responsive {
    display: none;    
}
.view-detail-responsive p {
    display: inline;
    font-weight: 500;
    margin-right: 12px;
}
.views-like-dislike {
    display: flex;    
    justify-content: space-between;
}
.view-icon ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.view-icon ul li{
    margin: 0 20px 0 20px;
    font-size: 24px;
}
.view-icon ul li span {
    font-size: 16px;
    font-weight: 500;
}
.view-detail ul {
    list-style-type: none;
    display: flex;
    margin-top: 9px;
    padding: 0;
}
.view-detail ul li {
    margin: 0 16px 0 16px;    
    font-weight: 500;
}
.view-detail ul li span {
    color: #8F8F8F;
}
.download-icon ul {
    list-style-type: none;
    display: flex;    
}
.download-icon ul li {
    margin: 0 20px 0 98px;
    font-size: 24px;
}
.comments-detail {
    margin: 0 0 16px 0;
}
.comments-detail span {
    font-weight: 500;    ;
    margin: 0;
}
.comments-detail p {    
    margin: 0;
    color: #000000;
}
.comments-detail h6 {    
    margin: 0;
    font-size: 14px;
    color: #8F8F8F;
}
.form-comment {
    margin-left: 58px;
}
.checkbox-comment {
    float: right;
    margin-top: 6px;
    margin-right: 4px;
}
.input-comment {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;     
}
.input-comment input {
    border: none;
    width: 100%;
    margin-left: 20px;
}
.input-comment button {
    font-weight: 500;
    background-color: white;
    border-radius: 14px 14px 16px 14px;
    line-height: 18px;
    padding: 7px 60px;
}
.reply-comments {
    margin-top: 8px;
}
.btn-reply {
    border: none;
    background-color: white;
}
.answers-detail {
    margin-left: 36px;
}
.reply-comments-detail {
    display: none;
}

/* create - docs */
.tbody-create-docs {
    height: 100%;
    margin-bottom: 100px;
}
.create-docs {        
    margin: 0 auto;             
}
.create-docs-detail {
    width: 482px;
    margin: 20px auto;
}
.create-docs-detail p {
    color: red;
    font-size: 14px;
    margin-left: 4px;
}
.document {
    display: flex;
    flex-direction: column;
    width: 482px;    
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    margin: 5px auto; 
}
.document label {
    color: rgba(17, 17, 17, 0.48);
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 6px 0 0 16px;
}
.document input {
    border: none;    
    margin: 0 0 6px 16px;
}
.document textarea {
    border: none;    
    margin: 0 0 6px 16px;
}
.document select {
    border: none;    
    margin: 0 0 6px 12px;
}
.document-file {
    width: 482px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.document-file p {
    margin-bottom: 2px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {  
    font-size: 16px;
    line-height: 24px;   
    padding: 10px 20px; 
    border: 2px solid #111111;     
    border-radius: 4px;     
    display: inline-block;
    cursor: pointer;
}
.inputfile + label span {
    display: none;
}
.inputfile:focus + label, .inputfile + label:hover {
    background-color: rgb(185, 185, 185);
}
.docs-save {
    text-align: center;
    margin-top: 24px;
}
.create-docs div button {    
    width: 157.28px;
    height: 32.95px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #18A0FB;
    background-color: #FFFFFF;
    border-radius: 14px 14px 16px 14px;
    border: 1px solid #18A0FB;    
}

/* category  */
.tbody-category {
    height: 100%;
    margin-bottom: 100px;
}
.tbody-category-h4 {
    background: rgba(196, 196, 196, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -1px 0px 0px #000000;
}
.tbody-title-category {            
    color: #8F8F8F;           
    text-align: center;
}
.tbody-title-category button {    
    margin: 12 auto;
}
.category-btn-new {       
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    color: #18A0FB;
    background-color: white;
    margin: 16px 0;
}
.form-add {                         
    margin: 0 12px; 
}
.category-input-name {
    margin-bottom: 12px;    
}
.error {    
    color: red;
    font-size: 14px;
    margin: 0 4px;
}
.input-name {
    border: 1px solid grey;   
    border-radius: 20px; 
    margin: 0 0 6px 2px;     
    padding-left: 6px;    
}
.input-date {
    border: 1px solid grey;
    border-radius: 20px; 
    margin: 0 0 6px 2px;
    padding-left: 6px; 
}
.category-btn-add {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;    
    border: 1px solid #18A0FB;
    border-radius: 6px;
    color: white;
    background-color: #18A0FB;
    margin: 16px 0;
}
.category-btn-cancel {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;    
    border: 1px solid #7a7a7a;
    border-radius: 6px;
    color: #7a7a7a;
    background-color: white;
    margin: 16px 0;
}
.tbody-category-detail {
    margin-left: 32px;   
    margin-right: 24px; 
}
.category-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 32px;
}
.category-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
}
.form-edit {        
    display: none;
    flex-direction: column;        
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;   
    margin-bottom: 22px;  
    padding: 12px 12px;
}
.category-input {
    margin-right: 24px;
}
#save {
    display: none;
}
.category-tool {
    margin-right: 32px;
}
.category-btn-edit {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #F6AD55;
    border-radius: 6px;
    color: #F6AD55;
    background-color: white;    
}
.category-btn-delete {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 157.28px;
    height: 32.95px;
    border: 1px solid #FC8181;
    border-radius: 6px;
    color: #FC8181;
    background-color: white;
    margin-left: 42px;
}
.category-tool-responsive {
    display: none;
}

/* user detail */
.tbody-user {
    height: 100%;
    margin-bottom: 100px;
}
.tbody-user-title {
    font-size: 14px;
    line-height: 20px;  
    text-align: center;
    color: #8F8F8F;
    padding-top: 22px;
}
.tbody-user-infor {
    display: flex;    
    margin-left: 32px;    
}
.tbody-user-infor img {
    width: 224px; 
    height: 224px;
    border-radius: 50%;
    margin-right: 45px;
    filter: drop-shadow(0px 25px 80px rgba(2, 140, 213, 0.2));
}
.tbody-user-infor-text h3 {
    color: #515252;
}
.tbody-user-infor-text h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #11132A;
}
.tbody-box-responsive {
    display: none;
}
.tbody-responsive-navbar {
    display: none;
}

/* responsive */
@media screen and (max-width: 1024px) {
    .login-left {
        display: none;
    }
    .login-right {
        background-image: url(../img/img1.png);
        background-size: 1440px 1366px;
        width: 100%;
        height: 1366px;        
    }
    .box-right {
        margin: 220px auto;
        background-color: white;
        padding: 24px 24px;
        border: 1px solid rgb(155, 155, 155);
        border-radius: 28px;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
    }
}
@media screen and (max-width: 992px)
{
    .header-left {
        display: none;
    }
    .login-right {
        height: 1180px;  
    }
    .tbody-home {    
        height: 100%;   
        margin-bottom: 100px;  
    }
    .tbody-responsive-navbar {
        display: block;
    }
    .login-box {
        display: none;
    }
    #navbar-item-detail {
        display: none;    
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04);
        border-radius: 4px;    
    }
    #navbar-item-cancel {
        display: none;
    }
    #navbar-item-detail a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    #navbar-item-detail ul{
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #navbar-item-detail li {
        margin: 8px 24px;        
    }       
    .header-search-box {
        display: none;
    }    
    .tbody-doc-left {        
        height: 272px;
    }    
    .tbody-doc-right-date span { 
        display: none;
    }
    .tbody-doc-right button { 
        width: 100px;
    }
    .view {
        font-size: 12px;
        padding: 0;        
    }
    .footer-member {
        margin-right: 18px;
    }
    .tbody-sitebar ul {
        margin-left: 24px;
    }
    .tbody-box-search {
        display: block;
        text-align: center;
        padding: 12px 30px;
    }
    /* user detail */
    .tbody-user {
        height: 2480px;
        margin-bottom: 50px;
    }
    /* category */
    .category-item h3 {
        font-size: 18px;
    }
    .category-btn-edit {        
        font-size: 12px;        
        width: 80px;
        height: 32.95px;               
    }
    .category-btn-delete {        
        font-size: 12px;        
        width: 80px;
        height: 32.95px;        
    }
    .user-box { 
        margin-right: 12px;
    }
}
@media screen and (max-width: 678px)
{   
    .tbody-sitebar {
        display: none;
    }
    .tbody-content {
        width: 100%;
        padding: 0;
    }
    .tbody {
        flex-direction: column;
    }
    .tbody-sitebar-responsive {
        display: none;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04);
        border-radius: 4px;
    }
    .tbody-sitebar-responsive h6 {        
        text-align: center;
    }
    .tbody-sitebar-responsive ul {
        list-style-type: none;        
    }
    .tbody-sitebar-responsive li {
        margin-right: 24px;
        display: inline;
    }
    .tbody-sitebar-responsive a {
        text-decoration: none;
        color: black;
    }
    .tbody-box-search {
        display: none;
    }
    .tbody-box-responsive {
        padding: 12px 24px;
        display: block;        
    }
    #category {
        margin-left: 8px;
    }
    #cate-cancel {
        display: none;
        margin-left: 8px;
    }
    .tbody-doc-right-date {
        font-size: 14px;
    }
    /* detail page */
    .view-detail {
        display: none;
    }
    .view-detail-responsive {
        display: inline-block;
    }
    .tbody-detail-ct {
        height: 990px;
    }
    /* category  */
    .category-tool-responsive {
        display: inline-block;
    }
    .category-tool {
        display: none;
    }
    .category-btn-edit {                       
        width: 28px;                      
    }
    .category-btn-delete {                       
        width: 28px;        
        margin-left: 4px;       
    }
    #save-responsive {
        display: none;
    }
    /* create docs */
    .create-docs-detail {
        width: 402px;        
    }
    .document {
        width: 402px;
    }
    .document-file {
        width: 402px;
    }
}
@media screen and (max-width: 581px) {
    .box-right {
        margin: 120px auto;
    }
    .header-middle {
        display: block;
    }
    .header-left {
        display: none;
    }
    .tbody-responsive-navbar {
        display: block;
    }
    .login-box {
        display: none;
    }
    #navbar-item-detail {
        display: none;    
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04);
        border-radius: 4px;    
    }
    #navbar-item-cancel {
        display: none;
    }
    #navbar-item-detail a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    #navbar-item-detail ul{
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #navbar-item-detail li {
        margin: 8px 24px;        
    }    
    .tbody-doc-right-date {
        font-size: 14px;
    }
    .view {
        display: flex;
        flex-direction: column;
    }
    /* detail page */
    .tbody-detail-ct {
        height: 1080px;
    }
}
@media screen and (max-width: 480px) {
    /* footer */
    .footer-1 {
        display: block;
    }    
    .footer-member {
        display: inline-block;
        margin-top: 24px;
    }
    /* home page */
    .tbody-home {
        height: 100%;
    }
    .tbody-documents {
        display: block;
    }
    .tbody-doc-left {
        display: block;
        height: 250px;
    }
    .tbody-doc-right {
        display: block;
        margin: 8px 0;
    }
    .author-responsive {
        display: block;
    }
    .author {
        display: none;
    }
    .view {
        display: none;
    }    
    .tbody-doc-right-date-responsive {
        display: block;
    }
    .tbody-doc-right-date {
        display: none;
    }
    /* detail page */
    .tbody-detail-ct {
        height: 1280px;
    }       
    .view-icon ul{
        display: inline;        
    }
    .view-icon ul li {
        display: inline;       
        margin: 0 20px 0 20px;
        font-size: 24px; 
    }
    .views-like-dislike {
        display: inline;
        text-align: center;              
    }
    /* user detail */
    .tbody-user {
        height: 2980px;
        margin-bottom: 50px;
    }
    .tbody-user-infor {
        display: block;
        text-align: center;
        margin: 0;
        box-shadow: 0px 4px 4px rgba(24, 24, 24, 0.08);
    }
    .tbody-user-infor img {        
        margin: 0 auto;
    }
    .tbody-user-infor-text p {
        text-align: start;
        margin-left: 34px;        
    }
    /* category */
    .category-item h3 {
        font-size: 16px;
    }       
}
@media screen and (max-width: 426px) {
    /* footer */
    .footer-1 {
        display: block;
    }    
    .footer-member {
        display: inline-block;
        margin-top: 24px;
    }
    /* home page */
    .tbody-doc-left {        
        height: 310px;
    }
    .author-responsive p{
        font-size: 14px;
    }    
    /* detail page */
    .tbody-detail-docs {
        height: 100%;
        margin-bottom: 200px;
    }
    .detail-docs {
        margin-left: 12px;
    }
    .tbody-detail-ct {
        margin-right: 0;
    }
    .docs-date-category {
        margin-left: 72px;
    }
    .form-comment {
        margin-left: 12px;
    }
    .input-comment input {
        margin-left: 0;
    }       
    .view-icon ul{
        display: inline;        
    }
    .view-icon ul li {
        display: inline;     
        margin: 0 10px 0 10px;
        font-size: 24px;   
    }
    .views-like-dislike {
        display: inline;
        text-align: center;              
    }
    /* user detail */
    .tbody-user {
        height: 3480px;
        margin-bottom: 50px;
    }
    .tbody-filter {
        display: block;
        text-align: center;
        margin-bottom: 24px;
    }
    .tbody-filter-right {
        display: inline;
    }
    .tbody-filter-right p {
        display: inline;        
    }
    .tbody-dropdown {
        display: inline;
    }
    .tbody-dropdown-ct {
        position: static;
    }
    /* create docs */
    .create-docs-detail {
        width: 302px;        
    }
    .document {
        width: 302px;
    }
    .document-file {
        width: 302px;
    }
    .inputfile + label p{  
        display: none;
    }
    .inputfile + label span {
        display: inline-block;
    }
    .user-box {
        display: none;
    }
    .login-infor-user {
        justify-content: center;
    }
    .login-infor-user img {
        margin-left: 0;
    }
}

/* dasboard */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.main-content {
    position: relative;    
    transition: margin-left 500ms;
}
main {    
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}
.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}
.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}
.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}
.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}
.card-body h5 {
    color: var(--text-grey);
    font-size: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}
.card-footer button {
    border: none;
    background-color: white;
}
#view-likes-btn {
    color: red;
}
#view-likes-btn:hover {    
    font-weight: bold;
}
#view-dislikes-btn {
    color: green;    
}
#view-dislikes-btn:hover {    
    font-weight: bold;
}
#view-downloads-btn {
    color: blue;    
}
#view-downloads-btn:hover {    
    font-weight: bold;
}
#view-all-btn {    
    margin-left: 30px;
    margin-bottom: 10px;
}
.recent {    
    margin-top: 3rem;
    margin-bottom: 3rem;    
}
.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5rem;
}
.activity-card {
    padding: 20px;
}
#chart-likes {
    display: none;
}
#chart-dislikes {
    display: none;
}
#chart-downloads {
    display: none;
}
.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 7px;
}
.activity-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}
.activity-card table {
    width: 100%;
    border-collapse: collapse;
}
.activity-card thead {
    background: #efefef;
    text-align: left;
}
th, td {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
}
td {
    font-size: .8rem;
}
tbody tr:nth-child(even) {
    background: #f9fafc;
}
.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}
.badge.success {
    background: #DEF7EC;
    color: var(--main-color);
}
.badge.warning {
    background: #F0F6B2;
    color: orange;
}
.td-team {
    display: flex;
    align-items: center;
}
.img-1,
.img-2,
.img-3 {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}
.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}
.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}
.summary-single h5 {
    color: var(--main-color);
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}
.summary-single small {
    font-weight: 700;
    color: var(--text-grey);
}

.bday-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}
.bday-card {
    padding: 1rem;
}
.text-center {
    text-align: center;
}
.text-center button {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .4rem 1rem;
}

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
    .main-content {
        margin: 0 auto;
    }      
}

@media only screen and (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .card-single {
        margin-bottom: 1rem;
    }
    
    .activity-grid {
        display: block;
    }
    
    .summary {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}