@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
	box-sizing: border-box;
}
body {
	padding: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;	
}
section {
	height: 100vh;
}

section#about {
	text-align: center;
}

section h1 {
	text-align: center;
}
.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 18px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;	
	outline: none;
}
.btn-12{
	position: relative;
	right: 20px;
	bottom: 20px;
	border:none;
	box-shadow: none;
	width: 130px;
	height: 40px;
	line-height: 42px;
	-webkit-perspective: 230px;
	perspective: 230px;
	margin-right: 12px;
  }
  .btn-12 span {
	background: rgb(0,172,238);
  	background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
	display: block;
	position: absolute;
	width: 130px;
	height: 40px;	
	border-radius: 18px;
	margin:0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
  }
  .btn-12 span:nth-child(1) {	
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {	
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {	
   color: transparent;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
  }
header a {
	text-decoration: none;
	color: rgba(34, 34, 34, 0.8);	
}
header a:hover,a :focus {
	color: black;
	font-weight: 600;
}
.menu-left a {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	transition: color .35s ease;
}
.menu-left a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	transition: width 0s ease, background .35s ease;
}
.menu-left a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background: #000;
	transition: width .35s ease;
}
.menu-left a:hover:before {
	width: 100%;
	background: #000;
	transition: width .35s ease;
}
.menu-left a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .5rem 8px;
	background: rgb(255, 255, 255);
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	z-index: 3;
	will-change: transform;
	transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
header nav .logo {
	float: left;
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
	margin-left: 12px;
	font-size: 1.25rem;
	line-height: inherit;
	font-weight: 500;
	color: black;
}

header nav .logo:after {
	content: '';
	display: table;
	clear: both;
}

header nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

header nav ul li {
	float: none;
	margin-left: 0;
}
ul.menu-left {
	display: block;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 10;
}
ul.menu-left:before {
	content: '';
	display: table;
	clear: both;
}
.signature {
	position: fixed;
	font-weight: 100;
	bottom: 10px;
	color: #000;
	left: 0;
	letter-spacing: 4px;
	font-size: 10px;
	width: 100vw;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.tbody-responsive-navbar {
	float: right;
}

@media (min-width: 768px) {
	header nav ul li {
		float: left;
		margin-left: 1.5rem;
	}
}

@media (min-width: 576px) {
	header nav ul li a {
		display: block;
		padding: .425rem 0rem;
	}
}

@media (max-width: 768px) {
	ul {
		clear: both;
	}
	ul li {
		padding: .5em 0;
	}	
}

@media (min-width: 768px) {
	ul.menu-left {
		display: block !important;
		float: right;
		max-height: none;
	}
}
